html, body{
    background-image:url('../images/interior-design.png');
}

#mynavbar-inverse {
    background-color: #544B3E;   
}
.navigation {
    width: 100%;
    
}
.drag {border: 1px solid black; background-color: rgb(240, 240, 240); position: relative; padding: 0.5em; margin: 0 0 0.5em 1.5em; cursor: move;}

@font-face {
    font-family: 'Chief_Blueprint';
    url('Chief_Blueprint.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.signin {
    font-family: 'Arial', sans-serif;
    color: white;
    font-size: 24px;  
    display: inline-block;
    margin-left: 10px;
}
.thumbnail { height: 280px !important; }
      .btn-droppable { width: 180px; height: 30px; padding-left: 4px; }
      .btn-draggable { width: 160px; }
      .emage { height: 215px; }
.balance {
    margin-top: 1px;
    background-color: transparent;
    color: white;

}
.table-spacer{
    padding-top: 40px;
    width:100%;
    background-color: transparent;

}
table {
    width: 100%;
    border-collapse: collapse;
}
/* Zebra striping */
tr:nth-of-type(odd) {
    background: #eee;
}
tr:nth-of-type(even) {
    background: #562A00;
    color: #ffffff;
}
th {
    background-color: #562A00;
    color: white;
    font-weight: bold;
}
td, th {
    padding: 6px;
    text-align: left;
}
/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 0px  }

    td {
        /* Behave  like a "row" */
        border: none;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    /*
    Label the data
    */
    td:nth-of-type(1):before { content: "Project Title"; }
    td:nth-of-type(2):before { content: "Company Name"; }
    td:nth-of-type(3):before {content: "Address";}
    td:nth-of-type(4):before { content: "City"; }
    td:nth-of-type(5):before { content: "State"; }
    td:nth-of-type(6):before { content: "Postal Code"; }
    td:nth-of-type(7):before { content: "Fax"; }
    td:nth-of-type(8):before { content: "Phone"; }
    td:nth-of-type(9):before { content: "Project Ref Numnber"; }
    td:nth-of-type(10):before { content: "Project Owner"; }
    td:nth-of-type(11):before { content: "Description"; }
    td:nth-of-type(12):before { content: "Bid Date"; }
    td:nth-of-type(13):before { content: "Contact"; }
}








div#test,div#test2 {
    width: 150px;
    height: 50px;
    border: 3px solid #AF0078;
    padding: 10px;
    background-color: #ffffff;
    position: absolute;
    top: 300px;
    left: 0;
    cursor: pointer;
    z-index: 200;
}

div#test2 {
    position: relative;
    
    display: inline-flex;
    top: 220px;
}

div.dragged {
    cursor: all-scroll !important;
    border-color: #cc0000 !important;
    z-index: 300 !important;
}

a.keyLink {
    position: absolute;
    top: -2px;
    right: -2px;
    width: 20px;
    height: 20px;
    border: 1px solid #000000;
    background-image: none;
    font-size: 120%;
    text-align: center;
    padding: 0;
    background-color: #ffffff;
    opacity: .5;
}

div.dragged a.keyHTML,a.keyHTML:focus {
    border-color: #cc0000;
}
.register {
    font-family: 'Arial', sans-serif;
    color: white;
    float: left;
    font-size: 24px;
    margin-left: 20px;
    display: inline-block;
}
.tab {
    margin-left: 10px;
}

.normal {
    font-family: 'Arial', sans-serif;
    color: white;
    font-size: 14px; 
}
.hilite {
    font-family: 'Arial', sans-serif;
    color: aqua;
    font-size: 24px; 
}
.logout {
    font-family: 'Arial', sans-serif;
    color: white;
    font-size: 14px;    
}
.logout-user {
    font-family: 'Arial', sans-serif;
    color: white;
    font-size: 14px;    
}
.info{
    color: white;
    font-size: 18px;
}
.indent {
    margin-left: 20px;
}
.l-info {
    color: white;
    font-size: 18px;
    margin-left: 30px;
}
.large-white {
    font-family: 'Arial', sans-serif;
    color: white;
    font-size: 40px;
    padding-left: 20px;
    display: inline-block;
}
.white {
    font-family: 'Arial', sans-serif;
    color: white;
    font-size: 26px;
     display: inline-block;
     margin-left: 40px;
 }
.tiny-white {
    font-family: 'Arial', sans-serif;
    color: white;
    font-size: 16px;
    padding-left: 20px;
}
.r-white {
    font-family: 'Arial', sans-serif;
    color: white;
    font-size: 24px;
    padding-left: 20px;
    text-align: left;
    display: inline-block;
}
.footer-info-left{
    color: white;
    font-size: 12px;
    margin-top: 10px;
    display: inline-block;
}
.footer-info-right{
    color: white;
    float: right;
    font-size: 12px;
    margin-top: 10px;
    display: inline-block;
}
.social {
 height: 20px;
    width: 20px;
}
.personal{
    color: black;
}
.underline {
    text-decoration: underline;   
}
.landing {
    /*background-color: #323232;*/
    background-color: #562A00;
    opacity: .80;

}
.l-title{
    font-family: 'Chief_Blueprint', sans-serif;
    font-size: 32px;
    color: #ffffff;
    display: block;
    text-align: left;
}
.l-heading {
    display: block;
    font-family: 'Chief_Blueprint', sans-serif;
    font-size: 17px;
    color: #ffffff;
    text-align: left;
    padding-bottom: -20px;
    margin-bottom: -1px;
}
.r-title{
    text-align: right; 
     font-family: 'Chief_Blueprint', sans-serif;
    font-size: 38px;
    color: #ffffff;
    display: block;
    margin-bottom: -1px;    
}
.r-heading {
    text-align: right; 
     font-family: 'Chief_Blueprint', sans-serif;
    font-size: 18px;
    color: #ffffff;
    display: block;
    padding-top: -10px;

}
.slogan{
    text-align: center;   
    font-family: "comic sans ms", sans-serif;
    font-size: 14px;
   
}
.footer-inverse{
    height: 30px;
    background-color: #615849;
    color: white;
}

h2{
    margin: 0;     
    color: #666;
    padding-top: 90px;
    font-size: 52px;
    font-family: "trebuchet ms", sans-serif;    
}
.titleHeading{
 font-size: 24px;
    color: white;
}
.item{
    background: #333;    
    text-align: center;
    height: 400px !important;
}
.left{
  display: inline-block;
}
.right{
  display: inline-block;
    float: right;
}
.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    width:100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.flex-navbar {
    padding: 0;
    margin: 0;
    list-style: none;
    width:100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    background: #000;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;

}


.flex-landing {
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #562A00;
    opacity: .80;
    width:100%;
    justify-content: space-around;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}
.flex-main {
    padding: 0;
    margin: 0;
    list-style: none;
    height: 710px;
    width:100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}
.flex-row {
    padding: 0;
    margin: 0 auto;
    width:100%;
    margin-left:0;
    margin-right: 0;
    list-style: none;
    background-color: #000;
    justify-content: space-between;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    opacity: .8;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}
.flex-title{
    padding: 0;
    margin: 0 auto;
    width:100%;
    list-style: none;
    justify-content:space-between;
    background-color: #000;;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    opacity: .8;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}
.flex-footer {
    padding: 0;
    margin: 0;
    list-style: none;
    width:100%;
    height: 110px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    background-color: #000;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

/*.container {
    width: 100%;
    margin-left:0;


}*/
.flex-item {
    background: #000;
    padding: 0px;
    width: 100%;
    height: 150px;
    margin-top: 0px;

    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 14em;
    /*text-align: center;*/
}
.photo{
 width: 330px;
    height: 180px;
    float: right;
    
}

.header{
 height: 110px;
 display: block;
    opacity: .8;
 /*background-color: #FEFEFE;*/
 background-color: #000000;
 margin-top: 10px;
width: 100%;
    padding: 0;
    margin:0 auto;
}
video {
  float: right;
  margin-right: 20px;
    
}

.header .col-lg-8 {
    display: block; 
    height: 110px;

}
.col-lg-4 {
    height: 110px;
    display: inline-block;
}
.topnav {
 display: block;   
}
.topnav .col-xs-12{
    height: 100%;
    display: block;
    width:100%;
    /*background-color: #346665;*/
    background-color: #000000;
}

.row .main {
 display: block; 
 width: 100%;
 margin: 0;
 padding: 0;
}

.col-lg-8 {
    height: 100%;
}

.spacer {
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    font-family: 'Chief_Blueprint', sans-serif;
    font-size: 14px;
    
}
.search-group{
 display: inline-block;
}
.search-button{
 float: right;
 display: inline-block;
}
.footer {
 display: block;   
}
/*a:link {color: #ffffff; font-size: 16px; text-decoration: none; }
a:active {color: #fff;  font-size: 16px; text-decoration: none; }
a:visited {color: #F4E753 font-size: 16px; text-decoration: none; }*/
a:hover {color: #F4E753; font-size: 16px; text-decoration: none; }


#Home {
    background-color: transparent;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: #fff;
    font-family: 'Arial';
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border:none;
}



#Home:hover {
    border: none;
    background:red;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: 0px 0px 1 #777;
}


.footer .col-sm-1 {
    height: 100%;
    
  background-color: #5F5646;
}
.col-sm-2 {
    height: 100%;
  background-color: #5F5646; 
}
.col-sm-3 {
height: 100%;
  background-color: #5F5646;
}
.col-sm-4 {
    height: 100%;
  background-color: #5F5646;
}
.col-xs-12 {
    height: 100%;
}
.col-lg-6 {
    display: inline-block;
    height: 100%;
    margin-left: 10px;
}
.col-lg-7 {
    display: inline-block;
    height: 100%;
}
.col-lg-5 {
    display: inline-block;
    height: 100%;
    margin-left: 50px;
    
}
.col-lg-8 {
    display: inline-block;
    height: 100%;
}
.col-lg-4 {
    display: inline-block;
    height: 100%;
}
.col-xs-6{
    display: inline-block;
    height: 100%;
}
.col-lg-2 {
    height: 100%;
}
.col-lg-1 {
    height: 100%;
}
.col-lg-12{
    height: 100%;
}
.col-xs-10{
     height: 100%;
    display: inline-block;
}
.col-xs-2{
      height: 100%;
    display: inline-block; 

}
.col-xs-4 {
    height: 100%;
    display: inline-block;
}
.col-xs-1{
    height: 100%;
    display: inline-block;   
}