<div class="landing">
<h1 class="white"> Create a new Project</h1>
<form>
    <span class="l-info">Project Title</span><br/>
    <input ng-model="User.ProjectTitle" class="indent"/><br/>
    <span class="l-info">Company Name</span><br/>
    <input ng-model="User.CompanyName" class="indent"/><br/>
    <span class="l-info">Street Address</span><br/>
    <input ng-model="User.Street" class="indent"/><br/>
    <span class="l-info">City</span><br/>
    <input ng-model="User.City" class="indent"/><br/>
    <span class="l-info">State</span><br/>
    <input ng-model="User.State" class="indent"/><br/>
    <span class="l-info">Postal Code</span><br/>
    <input ng-model="User.PostalCode" class="indent"/><br/>
    <span class="l-info">Fax</span><br/>
    <input ng-model="User.Fax" class="indent"/><br/>
    <span class="l-info">Phone</span><br/>
    <input ng-model="User.Phone" class="indent"/><br/>
    <span class="l-info">Project Reference Number BIN</span><br/>
    <input ng-model="User.ProjectReferenceNumberBIN" class="indent"/><br/>
    <span class="l-info">Project Owner</span><br/>
    <input ng-model="User.ProjectOwner" class="indent"/><br/>
    <span class="l-info">Project Description</span><br/>
    <input ng-model="User.ProjectDescription" class="indent"/><br/>
    <span class="l-info">Closing Date</span><br/>
    <input ng-model="User.BidDate" class="indent"/><br/>
    <span class="l-info">Contact</span><br/>
    <input ng-model="User.Contact" class="indent"/><br/>
    <button ng-click="createBid()">Submit Project</button>
         
</form>
</div>