<p class="white">General Contractor/ Sub-Contractor Registration Page</p>
<form name="contractorForm" ng-submit="newContractor">
<div>
    <select class="tab" ng-model="User.reg_contractorId">
        <option ng-repeat="contractor in regContractors" value="{{contractor.contractorId}}">{{contractor.contractorName}}</option>
    </select>     
</div>
    
<div>
    Company Name
    <input class="tab" type="text" ng-model="User.reg_CompanyName" placeholder="Company Name"/><br/>
    General Contractor Name
    <input class="tab" type="text" ng-model="User.GeneralContractorName" placeholder="General Contractor Name"/><br/>
    Trade License Number
    <input class="tab" type="text" ng-model="User.reg_TradeLicenseNumber" placeholder="Trade License Number"/><br/>
    City Business License Number
    <input class="tab" type="text" ng-model="User.reg_CityBusinessLicenseNumber" placeholder="City Business License Number"/><br/>
    First Name
    <input class="tab" type="text" ng-model="User.reg_firstname" placeholder="First name"/><br/>
    Last Name
    <input class="tab" type="text" ng-model="User.reg_lastname" placeholder="Last name"/><br/>
    Street Address
    <input class="tab" type="text" ng-model="User.reg_streetAddress" placeholder="Street Address"/><br/>
    City
    <input class="tab" type="text" ng-model="User.reg_City" placeholder="City"/><br/>
    State
    <input class="tab" type="text" ng-model="User.reg_State" placeholder="State"/><br/>
    Zip Code
    <input class="tab" type="text" ng-model="User.reg_CompanypostalCode" placeholder="Company Postal Code"/><br/>
    Username   
    <input class="tab" type="text" ng-model="User.reg_username" placeholder="username"/><br/>
    Postal Codes for Work
    <input class="tab" type="text" ng-model="User.reg_PostalCodesForWork" placeholder="Postal Codes For Work"/><br/>
    
    <p class="tiny-white">Type of Construction Desired:</p>
    <select class="tab" ng-model="User.reg_constructionId">
        <option ng-repeat="contractor in regConstruction" value="{{contractor.constructionId}}">{{contractor.constructionType}}</option>
    </select>
    <br/> 
    Number of Employees
    <input class="tab" type="text" ng-model="User.reg_NumberofEmployees" placeholder="Number of Employees"/><br/>
    Affiliations
    <input class="tab" type="text" ng-model="User.reg_Affiliations" placeholder="Affiliations"/><br/>
    Web Site
    <input class="tab" type="text" ng-model="User.WebAddress" placeholder="Web Address"/><br/>
    Resume
    <input class="tab" type="text" ng-model="User.reg_Resume" placeholder="Resume"/><br/>
    Years in Business
    <input class="tab" type="text" ng-model="User.reg_YearsInBusiness" placeholder="Years In Business"/><br/>
    Past Projects
    <input class="tab" type="text" ng-model="User.reg_PastProjects" placeholder="Past Projects"/><br/>
    
    <button class="tab" ng-click="saveMe()">Save</button><br/>
</div>
    
</form>
