<h1 class="landing"> Submit Bid on {{ProjectTitle}}</h1><br/>
<form>
   <div class="info">Project Title: {{ProjectTitle}}</div><br/>
   <div class="info">Street: {{Street}}</div><br/>
    <div class="info">City:{{City}}</div><br/>
    <div class="info">State:{{State}}</div><br/>
    <div class="info">Postal Code:{{PostalCode}}</div><br/>
    <div class="info">Fax:{{Fax}}</div><br/>
    <div class="info">Phone:{{Phone}}</div><br/>
    <div class="info">Bid Date:{{bidDate}}</div><br/>
    <div class="info">Contact:{{contact}}</div><br/>
    <div class="info">Bid Amount: {{bidAmount}}</div><br/>
    
    <input ng-model="User.bidAmount" placeholder="Enter Bid Amount"/>
    <button ng-click="submitBid()">Submit Bid</button>
         
</form><br/>