
<h1 class="titleHeading">This is your About Me Page</h1>

<h2 class="info">Your email address, password and username are not editable.</h2>

<form name="contractorForm" ng-submit="updateContractor">

<div class="info">
    First Name<p class="personal"><input type="text" ng-model="User.reg_firstname" placeholder="First name" value="{{firstname}}"/><br/></p>    Last Name<p class="personal"><input type="text" ng-model="User.reg_lastname" placeholder="Last name" value=""/><br/></p>
    Street<p class="personal"><input type="text" ng-model="User.reg_streetAddress" placeholder="Street Address" value=""/><br/></p>
    City<p class="personal"><input type="text" ng-model="User.reg_City" placeholder="City" value=""/><br/></p>
    State<p class="personal"><input type="text" ng-model="User.reg_State" placeholder="State" value=""/><br/></p>
    Postal Code<p class="personal"><input type="text" ng-model="User.reg_postalCode" placeholder="Postal Code" value=""/><br/></p>
    <!-- Password<input type="text" ng-model="User.reg_password" placeholder="password" value=""/><br/> -->
    <!-- email<input type="text" ng-model="User.reg_email" placeholder="email" value=""/><br/> -->
    <!-- username<input type="text" ng-model="User.reg_username" placeholder="username" value=""/><br/> -->
        ContractorId<p class="personal"><input type="text" ng-model="User.reg_contractorId" placeholder="contractorId" value=""/><br/></p>
    <button ng-click="updateMe()"><p class="personal">Save</p></button>
</div>

    
</form>