html, body{
    background-image:url('background.jpg');
}
.heading {
display: inline-block;
}
#mynavbar-inverse {
 background-color: #544B3E;   
}
.info{
 color: white;
    font-size: 18px;
}

.footer-info{
 color: white;
    font-size: 12px;
    margin-top: 10px;
}
.footer-info-right{
 color: white;
    float: right;
    font-size: 12px;
    margin-top: 10px;
}
.personal{
 color: black;
}
.title{
 text-align: center; 
 font-family: "comic sans ms";
 font-size: 24px;
 color: white;
}
.slogan{
 text-align: center;   
 font-family: "comic sans ms";
 font-size: 14px;
    color: white;
}
.footer-inverse{
height: 30px;
    background-color: #615849;
    color: white;
}

h2{
    margin: 0;     
    color: #666;
    padding-top: 90px;
    font-size: 52px;
    font-family: "trebuchet ms", sans-serif;    
}
.titleHeading{
 font-size: 24px;
    color: white;
}
.item{
    background: #333;    
    text-align: center;
    height: 400px !important;
}
.carousel{
    margin-top: 20px;
}
.bs-example{
	margin: 20px;
}
.left{
  display: inline-block;
}
.right{
  display: inline-block;
    float: right;
}
.container {
    height: 100%;
   /* background-color: beige; */
   
}
.header{
 display: block;   
}

.header .col-lg-8 {
    display: block; 
    height: 110px;
}
.col-lg-4 {
    height: 110px;
    display: inline-block;
}
.topnav {
 display: block;   
}
.topnav .col-xs-12{
    height: 100%;
    display: block; 
    /* background-color: #5F5646; */
    background-color: transparent;
}
.main {
 display: block;   
}
.main .col-lg-2 {
    height: 100%;
    display: block; 
}
.col-lg-8 {
    height: 100%;
}
.spacer {
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}
.search-group{
 display: inline-block;
}
.search-button{
 float: right;
 display: inline-block;
}
.footer {
 display: block;   
}
a:link {color: #ffffff; text-decoration: underline; }
a:active {color: #fff; text-decoration: underline; }
a:visited {color: #008000; text-decoration: underline; }
a:hover {color: #ff0000; text-decoration: none; }

.footer .col-sm-1 {
    height: 100%;
    
  background-color: #5F5646;
}
.col-sm-2 {
    height: 100%;
  background-color: #5F5646; 
}
.col-sm-3 {
height: 100%;
  background-color: #5F5646;
}
.col-sm-4 {
    height: 100%;
  background-color: #5F5646;
}
.col-xs-12 {
    height: 100%;
}
.col-lg-6 {
    display: inline-block;
    height: 100%;
}
.col-xs-6{
    display: inline-block;
    height: 50px;
}
.col-lg-2 {
    height: 100%;
    background-color: transparent;
}
.col-xs-10{
     height: 100%;
    display: inline-block;
}
.col-xs-2{
      height: 100%;
    display: inline-block; 
}
.col-xs-1{
    height: 100%;
    display: inline-block;   
}