<p class="white">General Registration Page</p>
<form name="contractorForm" ng-submit="newContractor">
<div>
    <select class="tab" ng-model="User.reg_contractorId">
        <option ng-repeat="contractor in regContractors" value="{{contractor.contractorId}}">{{contractor.contractorName}}</option>
    </select>     
</div>
    
<div>
    <input class="tab" type="text" ng-model="User.reg_CompanyName" placeholder="Company Name"/><br/>
    <input class="tab" type="text" ng-model="User.GeneralContractorName" placeholder="General Contractor Name"/><br/>
    <input class="tab" type="text" ng-model="User.reg_TradeLicenseNumber" placeholder="Trade License Number"/><br/>
    <input class="tab" type="text" ng-model="User.reg_CityBusinessLicenseNumber" placeholder="City Business License Number"/><br/>
    <input class="tab" type="text" ng-model="User.reg_SSN" placeholder="SSN"/><br/>
    <input class="tab" type="text" ng-model="User.reg_firstname" placeholder="First name"/><br/>
    <input class="tab" type="text" ng-model="User.reg_lastname" placeholder="Last name"/><br/>
    <input class="tab" type="text" ng-model="User.reg_streetAddress" placeholder="Street Address"/><br/>
    <input class="tab" type="text" ng-model="User.reg_City" placeholder="City"/><br/>
    <input class="tab" type="text" ng-model="User.reg_State" placeholder="State"/><br/>
    <input class="tab" type="text" ng-model="User.reg_CompanypostalCode" placeholder="Company Postal Code"/><br/>
    <input class="tab" type="text" ng-model="User.reg_password" placeholder="password"/><br/>
    <input class="tab" type="text" ng-model="User.reg_email" placeholder="email"/><br/>
    <input class="tab" type="text" ng-model="User.reg_username" placeholder="username"/><br/>
    <input class="tab" type="text" ng-model="User.reg_PostalCodesForWork" placeholder="Postal Codes For Work"/><br/>
    <input class="tab" type="text" ng-model="User.reg_WorkRadius" placeholder="Work Radius"/><br/>
    <p class="tiny-white">Type of Construction Desired:</p>
    <select class="tab" ng-model="User.reg_constructionId">
        <option ng-repeat="contractor in regConstruction" value="{{contractor.constructionId}}">{{contractor.constructionType}}</option>
    </select>
    <br/> 
    <input class="tab" type="text" ng-model="User.reg_NumberofEmployees" placeholder="Number of Employees"/><br/>
    <input class="tab" type="text" ng-model="User.reg_Affiliations" placeholder="Affiliations"/><br/>
    <input class="tab" type="text" ng-model="User.WebAddress" placeholder="Web Address"/><br/>
    <input class="tab" type="text" ng-model="User.reg_Resume" placeholder="Resume"/><br/>
    <input class="tab" type="text" ng-model="User.reg_YearsInBusiness" placeholder="Years In Business"/><br/>
    <input class="tab" type="text" ng-model="User.reg_PastProjects" placeholder="Past Projects"/><br/>
    <button class="tab" ng-click="registerMe()">Register</button><br/>
</div>
    
</form>
