<SCRIPT type=text/javascript>
    function doClick(buttonName,e)
    {
        //the purpose of this function is to allow the enter key to
        //point to the correct button to click.
        var key;

        if(window.event)
            key = window.event.keyCode;     //IE
        else
            key = e.which;     //firefox

        if (key == 13)
        {
            //Get the button the user wants to have clicked
            var btn = document.getElementById(buttonName);
            if (btn != null)
            { //If we find the button click it
                btn.click();
                event.keyCode = 0;
                console.log('You clicked Enter.');
            }
        }
    }
</SCRIPT>
<div class="landing"> <br/>
<br/>
<br/>
<div class="row">
    <div class="col-lg-8" class="register">
        
        <p class="r-white">Not a member yet?</p><br/>
        <p class="r-white">Go and <a href="/#/registration"><span class="hilite">Sign Up.</span></a></p><p class="signin">It's free!</p>
     </div>   
    <div class="col-lg-4" class="signin">
        <p class="white">Member Sign In! </p><br/>
        
        <span class="white">Email</span><br/>
        <input class="personal" type="text" ng-model="User.reg_email"/><br/>
        <span class="white">Password</span><br/>
        <input class="personal" type="text" ng-model="User.reg_password"/><br/>
        <br/>

        <button class="personal" ng-click="logMeIn()">Log In</button><br/>
        <!-- <button class="personal" ng-click="doClick(Enter)" autofocus type="submit">Log In</button><br/> -->
    </div>
   </div>
<div class="logout-user">
    <div> </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <p class="white">Click <a href="/#/HowItWorks"><span class="hilite">Here</span></a> to learn how it works
    and learn why this is a great place to be!</p>

</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
</div>

