<div class="landing"> <br/>
<br/>
<br/>
<div class="row">
    <div class="col-lg-8" class="register">
        
        <p class="r-white">Not a member yet?</p><br/>
        <p class="r-white">Then go and <a href="/#/registration"><span class="hilite">Sign Up</span></a><br/></p>
     </div>   
    <div class="col-lg-4" class="signin">
        <p class="white">Member Sign In! </p><br/>
        
        <span class="white">Email</span><br/>
        <input type="text" ng-model="User.reg_email"/><br/>
        <span class="white">Password</span><br/>
        <input type="text" ng-model="User.reg_password"/><br/>
        <br/>
        <button ng-click="logMeIn()">Log In</button><br/>
    </div>
</div>
<div class="logout-user">
    <div> </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <p class="white">Click <a href="/#/HowItWorks"><span class="hilite">Here</span></a> to learn how it works
    and learn why this is a great place to be!</p>

</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
</div>    

